.table-container {
    width: 100%;
    overflow: auto; /* Permite el desplazamiento horizontal y vertical */
}

table {
    width: max-content; /* Hace que la tabla tenga un ancho máximo */
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

h2 {
    color: #333;
}

.inmueble-list-container {
    margin: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination span {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.pagination span.active {
    background-color: #4CAF50;
    color: white;
}

input {
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 60px;
    text-align: center;
}

/* Estilos para los botones */
button {
    padding: 8px 12px;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
}

/* Estilos específicos para los botones de edición y cancelación */
button.edit, button.cancel {
    background-color: #2196F3;
}

/* Estilos para el botón de eliminar */
button.delete {
    background-color: #f44336;
}

@media (max-width: 768px) {
    .pagination {
        flex-direction: column;
    }

    input {
        margin-top: 10px;
    }
}
